#myfirstcol {
    background-color: black;
    background-image: url(home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    width: 100%;

}

#myfirstcol .row {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

#mycol {
    background-color: rgb(231, 168, 178);
}

#mycol a {
    text-decoration: none;
    color: black;
    font-size: 15px;

}

#mycol a:hover {
    text-decoration: none;
}

#myfirstcol h1,
#myfirstcol h4,
#myfirstcol p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#myfirstcol h1 {
    font-size: 65px;

}

#image111 {
    background-color: black;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#myrow{
    margin: 8%;
    border: 2px solid white;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
#myrow a{
    text-decoration: none;
    color: white;
}
#myrow .r1{
    border-bottom: 2px solid white;
}
#myrow .r2:hover{
    border-bottom: 2px solid white;
    text-decoration: none;
}
label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
select:hover > option{
    display: block;
}